/* CSS variable */
:root {
    --navbar-background-color: rgb(172, 222, 176);
    --start-animation-time: 1.5s;
}

body {
    display: grid;
    grid-template-columns: auto 18%;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    column-gap: 1%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* background color for the entir website */
* {
    max-width: 100%;
}

/* style for header */
header {
    text-align: center;
    grid-area: header;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    font-size: x-large;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: var(--navbar-background-color);
    border-bottom: .1em var(--navbar-background-color) dashed;
}

/* animation for the name at the top */
header h1 {
    visibility: visible !important;
    display: inline-block;
    width: 25vw;
    margin: 0 0 0 0;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color: transparent;
    animation-name: name;
    animation-duration: var(--start-animation-time);
    position: relative;
}

header h1 a {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: green;
    background-color: transparent;
}

@keyframes name {
    0% {left:30vw; top: 50vh;transform: rotate(.25turn);cursor: progress;}
    33% {left:60vw; top:50vh;transform: rotate(.5turn);}
    67% {left:10vw; top:50vh;transform: rotate(.75turn);}
    100% {left:0vw; top:0vh;cursor: progress;}
}

/* animation for everything except for h1 */
header, #navbar, main, footer, #sidebar {
    animation-name: hide;
    animation-duration: var(--start-animation-time);
}

@keyframes hide {
    from {visibility: hidden;}
    to {visibility: hidden;};
}

/* style for navbar */
#navbar {
    background-color: var(--navbar-background-color);
    padding: 1% 0 1% 0;
    width: 75vw;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    border-radius: .5rem;
    align-self: center;
    justify-content: space-around;
    justify-self: space-around;
}

#navbar ul {
    background-color: var(--navbar-background-color);
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

#navbar ul li {
    background-color: green;
    border: .2em green solid;
    border-radius: 1em;
    padding: .3vh .3vw .3vh .3vw;
    margin: .3vh .2vw .3vh .2vw;
}

#navbar ul li a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    background-color: green;
    text-decoration: none;
    text-align: center;
    margin: .1% .3% .1% .3%;
    padding: 0 .3% 0 .3%;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    font-size: medium;
    color: var(--navbar-background-color);
}

#navbar ul li:hover {
    background-color: var(--navbar-background-color);
}

#navbar ul li:hover > a {
    background-color: transparent;
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

#navbar ul li:active {
    background-color: black;
}

#navbar ul li:active > a {
    background-color: transparent;
    color: white;
}

main {
    grid-area: main;
    margin-left: 1vw;
}

section {
    scroll-margin-top: 30vh;
}

h2 {
    margin-block-end: 0;
    color: darkgreen;
}

h3 {
    display: inline;
    color: darkgreen;
}


.job_description {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.job_description > img {
    display: inline-block;
}

.job_description > ul {
    display: inline-block;
}

#multimedia {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
}

figure {
    text-align: center;
    display: inline-block;
}

.text_input {
    width: 30ch;
}

iframe {
    width: 70%;
    height: 60vh;
}

th, td {
    border: .1em black solid;
}

table {
    border: .1em black dashed;
}

aside a {
    color: green;
}

/* animation for the ball */
#table_tennis {
    display: inline-block;
}

#table_tennis:hover #ball {
    background-color:transparent;
    animation-name: play;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
}

@keyframes play {
    0% {left:0; top:6vh;}
    33% {left:6vw; top:2vh;}
    67% {left:-10vw; top:-8vh;}
    100% {left:0vw; top:3vh;}
}

input {
    background-color: white;
    color: black;
}

#file_upload {
    background-color: transparent;
}

textarea {
    background-color:white;
    color: black;
    width: 80%;
}

button {
    background-color: var(--navbar-background-color);
    color: darkgreen;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.contact_link {
    color: green;
    margin: 0 .3rem 0 .3rem;
    line-height: 1.2lh;
}

.Credential {
    color: green;
}

/* style for the sidebar */
#sidebar {
    grid-area: sidebar;
    bottom: 30vh;
    right: 0;
    margin-top: 10vh;
    padding-left: 3vw;
}

/* style for the footer */
footer {
    grid-area: footer;
}

/* for smaller screens */
@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        position: static;
        align-items: center;
        flex-wrap: wrap;
    }

    header h1 {
        text-align: center;
        display: inline-block;
        width: 100vw;
    }

    @keyframes name {
        0% {left:0vw; top: 70vh;cursor: progress;}
        33% {left:0vw; top:40vh;transform: rotate(.5turn);}
        67% {left:0vw; top:50vh;}
        100% {left:0vw; top:0vh;cursor: progress;}
    }

    #navbar {
        justify-content: center;
        justify-self: center;
    }

    #navbar ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-items: flex-start;
        justify-content: flex-start;
    }

    #navbar li {
        text-align: center;
        width: 98%;
        margin: 0 1em 0 1em;
    }

    #navbar ul li a {
        margin: .8ex;
    }

    section {
        scroll-margin-top: 0;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    #sidebar {
        display: none;
    }

    img {
        height: 240px;
    }

    .logo {
        height: 40px;
    }
}

@media only screen and (max-width: 480px) {
    header h1 {
        font-size: 2.5em; 
    }
    
    body {
      line-height: 1.4;
    }

    section * {
        font-size: medium;
    }

    h2 {
        font-size: large;
    }

    .align_right {
        float: right;
        font-size: medium;
    }

    #courses * {
        font-size: small;
    }

    img {
        height: 144px;
    }
}


/* for printing */
@media print {
    * {
        background-color: white;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    header {
        padding: 1cm;
    }

    header h1 {
        display: block;
        width: 100%;
    }

    #navbar {
       display: none;
    }

    main {
        display: flex;
        flex-direction: column;
    }

    img, iframe {
        display: none;
    }

    #sidebar {
        display: none;
    }
}